@charset "UTF-8";

@font-face {
    font-family: "Passion One";
    src: url(Fontes/Passion_One/PassionOne-Bold.ttf);
}

@font-face {
    font-family: Sriracha;
    src: url(Fontes/Sriracha/Sriracha-Regular.ttf);
}

:root{
    --cor1: var(#000);
    --cor2: var(#333333);
    --cor3: var(#A9A9A9);
    --cor4: var(#FFFFFF);

}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: relative;
    
    max-width: 100%;
    min-height: 200px;
    margin: auto;

    background-color: black;
    color: white;

    text-align: center;
}

header > div{
    padding: 50px;
}

header > div > h1{
    font-size: 10vw;
    font-family: "Passion One";
    font-variant: small-caps;
}

header > div > p{
    padding-top: 10px;
    font-family: sans-serif;
    font-size: 1.1em;
}

header > div > p > a{
    text-decoration: none;
    color: white;

    font-family: sans-serif;
    font-weight: bolder;
}

header > div > p > a:hover{
    text-decoration: underline;
}

main > div.container2{
    max-width: 100vw;
    margin: 20px 0px 20px 20px;

    font-family: sriracha;
    font-size: clamp(1.68em, 1em + 3vw, 2.5em);
}

#article1{
    color: black;
    line-height: 2.2em;
}

main > div.container{
    position: relative;

    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    max-width: 100%;
    max-height: 800px;
}

#article2{
    display: inline-block;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;

    line-height: 2.2em;
    font-size: clamp(1.70em, 1em + 3vw, 2.5em);
    font-family: sriracha;
    text-shadow: 2px 2px 0px black;

    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#article3{
    padding-bottom: 40px;
}

#article5{
    display: inline-block;
    padding: 10px;

    border-radius: 5px;

    font-family: sriracha;
    font-size: 2.5em;
    line-height: 2.2em;

    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#article6{
    padding-bottom: 40px;
}

#carta{
    background-image: url(imagens/background002.jpg);
}

#article5{
    display: inline-block;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 20px;
    border-radius: 10px;

    text-shadow: 2px 2px 0px black;

    font-size: clamp(1.70em, 1em + 3vw, 2.5em);
}

footer{
    max-width: 100%;
    min-height: 40px;
    text-align: center;

    background-color: black;
    color: white;
}

footer > p{
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: none;
    font-family: sans-serif;
    font-size: clamp(1.2em, 1em + 3vw, 1em);
}

footer > p > a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

footer > p > a:hover{
    text-decoration: underline;
}